<a href="https://colab.research.google.com/github/ThiagoCarvalho-81/Dev_Lab/blob/main/logbook001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ship's logbook - Python

Registration of the learning path. 

Python - First steps of an aspiring data scientist.


## PYTHON DATA TYPES

### A) Numbers

They are defined as int, float and complex classes in Python.

In [ ]:
a = 123
print(a, "is of type", type(a)) #Integers can be of any length, it is only limited by the memory available.

a = 12.3
print(a, "is of type", type(a)) #A floating-point number is accurate up to 15 decimal places. Integer and floating points are separated by decimal points. 1 is an integer, 1.0 is a floating-point number.

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex)) #Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part. Here are some examples.

Integers can be of any length, it is only limited by the memory available.

A floating-point number is accurate up to 15 decimal places. Integer and floating points are separated by decimal points. 1 is an integer, 1.0 is a floating-point number.

Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part.

In [ ]:
#basic algebraic opetations with numbers
x = 2
z = 3
w = 1.56

math_a = x+z # Sum of x and z
print(math_a)

math_b = x-z # Difference of x and z
print(math_b)

math_c = x*z # Product of x and z
print(math_c)

math_d = x//z # Quotient of x and z
print(math_d)

math_e = x//z # Floored quotient of x and z
print(math_e)

math_f = x%z # Remainder of x / z
print(math_f)

math_g = divmod(x, z) # The pair (x // z, x % z)
print(math_g)

math_h = int(w) #w converted to integer
print(math_h)

math_i = float(x) #x converted to float  
print(math_i)

math_h = x**z # x to the power z
print(math_h)

math_h = pow(x,z) # x to the power z
print(math_h)

### B) Lists

List is an ordered sequence of items. All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].

Lists are mutable, meaning, the value of elements of a list can be altered.

In [ ]:
lista1 = [1, 99, 4, 27, 15, 22, 3, 1, 44, 42, 27]

lista2 = ['T', 'h', 'i', 'a', 'g', 'o', ' ', 'd', 'e', ' ', 'C', 'a', 'r', 'v', 'a', 'l', 'h', 'o']

lista3 = []

lista4 = list(range(11))

lista5 = [1, 99, 4, 27, 15, 22, 3, 1, 44, 42, 27]


print(lista1)
print(lista2)
print(lista3)
print(lista4)
print(lista5)

####Working with lists

In [ ]:
#  Looking for an element in a list
num = 7
if num in lista4:
    print(f'I have found {num}')
else:
    print(f'I did not find {num}')

In [ ]:
#Put list elements in ORDER
print(lista5)
lista5.sort()
print(lista5)

In [ ]:
#COUNT the number of occurrences of a value in a list
print(lista1.count(1))
print(lista2.count('a'))

In [ ]:
#COUNT elements
print(len(lista5))

In [ ]:
# ADD elements

# ONE ELEMENT addition --> append
print(lista1)
lista1.append(42)
print(lista1)

# MULTIPLE ELEMENTS adition --> extend
lista1.extend([123, 44, 67]) # Coloca cada elemento da lista como valor adicional á lista
print(lista1)


# adding element in a specific position
lista1.insert(2, 'Novo Valor')
print(lista1) # After the new element addition, the previous number of that position is slipped to the right.

In [ ]:
# JOIN lists

lista6 = lista2 + lista4 #criating a new list
print(lista6)

lista6.extend(lista1) #joining literally
print(lista6)

In [ ]:
# put list in REVERSE order

# 1st
print(lista1)
print(lista2)
lista1.reverse()
lista2.reverse()
print(lista1)
print(lista2)

# 2nd
print(lista1[::-1])
print(lista2[::-1])

In [ ]:
# COPY a list

# Deep Copy
print(lista2)
lista7 = lista2.copy() 
print(lista7)

lista7.append(4)

print(lista2)
print(lista7)

# We have copied the data from the list to a new list
# but they have become totally independent, it means: modifying one list 
# does not affect the other. 

# Shallow Copy
listaz = [1, 2, 3]
print(listaz)
new = listaz  # copy

print(new)
new.append(4)
print(listaz)
print(new)

# We have used the copy via assignment and copied the data to the new list, but
# after making a change in one of the lists, that change was reflected in both lists.

In [ ]:
# REMOVE elements

# remove the last element (and return it)
print(lista7)
lista7.pop()
print(lista7)

# Remove an specific element
lista5.pop(2)
print(lista7)

# remove all elements
print(lista7)
lista7.clear()
print(lista7)

In [ ]:
# REPEAT elements as many desired times
nova = [1, 2, 3]
print(nova)
nova = nova * 3
print(nova)

In [ ]:
# ACCESS elements by INDEX

#           0         1        2        3        4
colors = ['green', 'yellow', 'blue', 'green', 'white']

print(colors[0])  # green
print(colors[1])  # yellow
print(colors[2])  # blue
print(colors[3])  # green
print(colors[4])  # white

# backward index order
print(colors[-1])  # white
print(colors[-2])  # green
print(colors[-3])  # blue
print(colors[-4])  # yellow
print(colors[-5])  # green

# Discovering the index of an element
print(colors.index('blue'))

# Discovering the index of an element | OBS: Returns the index of the 1st if repeated element
print(colors.index('green'))

# Discovering the index of an element into a range
print(colors.index('green', 1, 4)) # search the index of 'green'between indexes 1 and 4

In [ ]:
# CONVERSIONS 

# string --> list
namea = 'Thiago de Carvalho'
print(namea)
print(type(namea))
nameb = namea.split()
print(nameb)
print(type(nameb))

namesa = 'Thiago,Milton,Bruno,Priscila,Elis,Dan,Marina'
print(namesa)
print(type(namesa))
namesb = namesa.split(',')
print(namesb)
print(type(namesb))

# list --> string
lista9 = ['home', 'park', 'club', 'cinema']
print(lista9)
print(type(lista9))
places = ' '.join(lista9) # It means: Bring lista9, put an space btw elements and transform it on string type
print(places)
print(type(places))

places2 = '$'.join(lista9) # It means: Bring lista9, put a $ between elements and transform it on string type
print(places2)
print(type(places2))

# list --> tuple
listaw = [1, 2, 3, 4, 5, 6]
print(listaw)
print(type(listaw))

tuplaw = tuple(listaw)
print(tuplaw)
print(type(tuplaw))

In [ ]:
# SLICING

# list[BEGIN:END:PACE]

# 'BEGIN'
listay = [1, 2, 3, 4]
print(listay[1:])  # Beginning on index 1; bring all elements

# 'END'
print(listay[:2])  # begining in 0, bring the elements until the one with index 2 -1
print(listay[:4])  # begining in 0, bring the elements until the one with index 4 -1
print(listay[1:3]) # begining in 1, bring the elements until the one with index 3 -1

# 'PACE'
print(listay[1::2])  # begining in 1, goes until to the end, bringing elements at pace of 2
print(listay[::2])  # begining in 0, goes until to the end, bringing elements at pace of 2

In [ ]:
# ITERATIONS using lists

# FOR
lista9 = list(range(5))
print(lista9)
addition = 1
for element in lista9:
    print(element)
    addition = addition + element #sum all elements and adding 1
print(addition)


# WHILE
cart = []
product = ''

while product != 'done':
    print("Insert the product or type 'done' to leave at the end: ")
    product = input()
    if product != 'done':
        cart.append(product)

for product in cart:
    print(product)



#other example
colors = ['green', 'yellow', 'blue', 'white']
print(colors)

# listing using FOR
for color in colors:
    print(color)

# listing elements and their index using FOR
for index, color in enumerate(colors):
    print(index, color)

# using WHILE to print all list elements one by one
index = 0
while index < len(colors):
    print(colors[index])
    index = index + 1

In [ ]:
# Variable based lists
numbers = [1, 2, 3, 4, 5]
print(numbers)

num1 = 1
num2 = 2
num3 = 3
num4 = 4
num5 = 5

numbersV = [num1, num2, num3, num4, num5]
print(numbersV)

In [ ]:
# Sum*, Maximum value*, Minimum Value*, length
# * Applied only if the values are all int and/or float.

listB = [1, 2, 3, 4, 5, 6]

print(sum(listB))  # soma
print(max(listB))  # máximo valor
print(min(listB))  # mínimo valor
print(len(listB))  # tamanho da listB

In [ ]:
#Umpacking lists
listC = [1, 2, 3]

num1, num2, num3 = listC

print(num1)
print(num2)
print(num3)

### C) Tuples

Tuple is an ordered sequence of items same as a list. The only difference is that tuples are immutable. Tuples once created cannot be modified.

Tuples are used to write-protect data and are usually faster than lists as they cannot change dynamically.

It is defined within parentheses () where items are separated by commas.

In [ ]:
# Generating a tuple with range
tuple1 = tuple(range(11))
print(tuple1)
print(type(tuple1))

In [ ]:
# Unpacking tuple
tuple2 = ('Thiago', 'Carvalho')
namet, surnamet = tuple2

print(namet)
print(surnamet)

In [ ]:
# Methods for adding and removing elements in tuples do not exist, since tuples are immutable.

In [ ]:
# Sum*, Maximum value*, Minimum Value*, length
# * Applied only if the values are all int and/or float.

tuple3 = (1, 2, 3, 4, 5, 6)

print(sum(tuple3))  # soma
print(max(tuple3))  # máximo valor
print(min(tuple3))  # mínimo valor
print(len(tuple3))  # tamanho da listB

In [ ]:
# tuple CONCATENATION

tuple4 = (1, 2, 3)
print(tuple4)

tuple5 = (4, 5, 6)
print(tuple5)

print(tuple4 + tuple5)  # Tuplas são imutáveis

print(tuple4)
print(tuple5)

tuple6 = tuple4 + tuple5

print(tuple6)
print(tuple4)
print(tuple5)

tuple7 = (1,3)
print(tuple7)
tuple7 = tuple6 + tuple4  # Tuplas são imutáveis, mas podemos sobrescrever seus valores
print(tuple7)

In [ ]:
# Check if a certain element is contained in the tuplE
tuple8 = (1, 2, 3)
print(3 in tuple8)

In [ ]:
# ITERATING with tuple

tuple9 = (1, 2, 3)
for n in tuple9:
    print(n)

for index, value in enumerate(tuple9):
    print(index, value)


months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
i = 0
while i < len(months):
    print(months[i])
    i = i + 1

In [ ]:
# COUNT elements of a tuple 

tuple10 = ('a', 'b', 'c', 'd', 'e', 'a', 'b')
print(tuple10)
print(tuple10.count('c'))

tuple11 = ('Thiago de Carvalho')
print(tuple11)
print(tuple11.count('o'))

In [ ]:
# Slicing
# tupla[begin:end:pace]

months = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
print(months[5:9])

In [ ]:
# Checking the index of an element in a tuple
print(months.index('Jun'))

In [ ]:
# COPY a tuple
# there is no Shallow Copy of a tuple

tuple12 = (1, 2, 3)
print(tuple12)

new = tuple12  

print(new)
print(tuple12)

other = (4, 5, 6)

new = new + other

print(new)
print(tuple12)

### D) Dictionaries

Dictionary is an unordered collection of key-value pairs.

It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
# CREATE a dictionary

# Option 1 (more used)
countries = {'br': 'Brazil', 'us': 'United States', 'py': 'Paraguay'}
print(countries)
print(type(countries))

# Option 2 (less common)
countries2 = dict(br='Brazil', us='United States', py='Paraguay')
print(countries2)
print(type(countries2))

In [ ]:
# ACCESS an element

countries = {'br': 'Brazil', 'us': 'United States', 'py': 'Paraguay'}

# Option 1 - using key
print(countries['br'])
# print(countries['ru']) # if there is no mach the KeyError will be displayed

# Option 2 - using  get - Recommended
print(countries.get('br'))
print(countries.get('ru')) # if there is no mach the None will be displayed

countries = countries.get('ru')
if countries:
    print(f'Found {country}')
else:
    print('Not Found')

In [ ]:
# Is indicated use tuple as dict, considering its immuable aspect

locations = {
    (35.6895, 39.6917):  'Tokio',
    (40.7128, 74.0060): 'New York',
    (37.7749, 122.4194): 'São Paulo',
}

print(locations)
print(type(locations))

In [ ]:
# ADDING elements
revenue = {'jan': 100, 'feb': 120, 'mar': 300}
print(revenue)
print(type(revenue))

# Option 1 - commom used
revenue['apr'] = 350
print(revenue)

# Option 2
new_entry = {'mai': 500}
revenue.update(new_entry)  # receita.update({'mai': 500})
print(revenue)

In [ ]:
# UPDATING values in a dictionary
# Option 1
revenue['mai'] = 550
print(revenue)

# Option 2
revenue.update({'mai': 600})
print(revenue)

In [ ]:
# REMOVE elements of a dictionary
revenue2 = {'jan': 100, 'feb': 120, 'mar': 300}
print(revenue2)

# Option 1 - more used
ret = revenue2.pop('mar')
print(ret)
print(revenue2)

# Option 2 - less common
del revenue2['feb']
print(revenue2)

In [ ]:
# CLEAR 
d = dict(a=1, b=2, c=3)
print(d)
print(type(d))

d.clear()
print(d)

In [ ]:
#COPY
d = dict(a=1, b=2, c=3)
print(d)
print(type(d))

# Deep Copy
newdict = d.copy()
print(newdict)
newdict['d'] = 4
print(d)
print(newdict)

# Shallow Copy
newdict2 = d
print(newdict2)
newdict2['d'] = 4
print(d)
print(newdict2)

In [ ]:
# Imagine you have an e-commerce, where we have a shopping cart in which we add products.
Shopping_Cart = []

Product_1 = {'name': 'Playstation 4', 'quantity': 1, 'price': 2300.00}
Product_2 = {'name': 'God of War 4', 'quantity': 1, 'price': 150.00}

Shopping_Cart.append(Product_1)
Shopping_Cart.append(Product_2)

print(Shopping_Cart)
print(type(Shopping_Cart))

# Disadvantages of the same solution with lists and/or tuple - It is necessary know each specific product index

# Solving with list
Shopping_Cart2 = []
Product_1 = ['Paystation 4', 1, 2300.00]
Product_2 = ['God of War 4', 1, 150.00]

Shopping_Cart2.append(Product_1)
Shopping_Cart2.append(Product_2)

print(Shopping_Cart2)
print(type(Shopping_Cart2))

# Solving with tuple
Product_1 = ('Paystation 4', 1, 2300.00)
Product_2 = ('God of War 4', 1, 150.00)

Shopping_Cart3 = (Product_1, Product_2)
print(Shopping_Cart3)
print(type(Shopping_Cart3))

In [ ]:
Shopping_Cart:
    Product 1:
        - Name;
        - quantity;
        - price;
    Product 2:
        - Name;
        - quantity;
        - price;

# 1 - Poderíamos utilizar uma Lista para isso? Sim

Shopping_Cart = []

produto1 = ['Paystation 4', 1, 2300.00]
produto2 = ['God of War 4', 1, 150.00]

Shopping_Cart.append(produto1)
Shopping_Cart.append(produto2)

print(Shopping_Cart)

# Teríamos que saber qual é o índice de cada informação no produto.

# 2 - Poderíamos utilizar uma Tupla para isso? Sim

produto1 = ('Playstation 4', 1, 2300.00)
produto2 = ('God of War 4', 1, 150.00)

Shopping_Cart = (produto1, produto2)

print(Shopping_Cart)

# Teríamos que saber qual é o índice de cada informação no produto.

# 3 - Poderíamos utilizar um Dicionário para isso? Sim

Shopping_Cart = []

produto1 = {'nome': 'Playstation 4', 'quantidade': 1, 'preco': 2300.00}
produto2 = {'nome': 'God of War 4', 'quantidade': 1, 'preco': 150.00}

Shopping_Cart.append(produto1)
Shopping_Cart.append(produto2)

print(Shopping_Cart)

# Desta forma, facilmente adicionamos ou removemos produtos no carrinho e em cada produto
# podemos ter a certeza sobre cada informação.

### E) Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """.

- is in single quotation marks -> 'one string', '234', 'a', 'True', '42.3'.
- is in double quotes -> 'one string', '234', 'a', 'True', '42.3'.
- Be enclosed in single triple quotation marks -> '''one string'', '''234'', '''a''', '''True'', '''42.3'''

In [ ]:
name = 'Thiago Carvalho'
print(name)
print(type(name))

name2 = "Rio de Janeiro - cidade maravilhosa"
print(name2)
print(type(name2))

name3 = """Governador Valadares"""
print(name3)
print(type(name3))

In [ ]:
# Text FORMATING

print(name.upper())

print(name.lower())

print(name.title())

In [ ]:
#SLICE
print(name3[0:4])  # Slice de string
print(name3[5:15])  # Slice de string

In [ ]:
# SPLIT
print(name2.split()) # transforms the string in a list made of strings
print(name2.split()[0]) # splits the string printing the element by index
print(name2.split()[1]) # splits the string printing the element by index

In [ ]:
# DUPLICATE string

name4= name3*2
print(name4)
print(type(name4))

### F) Sets

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

We can perform set operations like union, intersection on two sets. Sets have unique values. They eliminate duplicates.

In [ ]:
#CREATE a set

# Option 1 - more used
s1 = {1, 2, 3, 4, 5, 5} # repeated value are not stored
print(s1)
print(type(s1))

#Option 2
s2 = set({1, 2, 3, 4, 5, 5,  6, 7, 2, 3})  # repeated value are not stored
print(s2)
print(type(s2))

In [ ]:
# Set FEATURES 
# the same group of numbers in a type comparison

# List (10 elements)
list = [99, 2, 34, 23, 2, 12, 1, 44, 5, 34]
print(f'List: {list} com {len(list)} elements')

# Tuple (10 elements)
tuple = 99, 2, 34, 23, 2, 12, 1, 44, 5, 34
print(f'Tuple: {tuple}  com {len(tuple)} elements')

# Dict (do not accept duplicate keys, so we've 8 elements)
dictionary = {}.fromkeys([99, 2, 34, 23, 2, 12, 1, 44, 5, 34], 'dict')
print(f'Dict: {dictionary}  com {len(dictionary)} elements')

# Sets (do not accept duplicate keys, so we've 8 elements)
set = {99, 2, 34, 23, 2, 12, 1, 44, 5, 34}
print(f'Set: {set}  com {len(set)} elements')

In [ ]:
#Sets accept all type elements
s3 = {1, 'b', True, 34.22, 44}
print(s3)
print(type(s3))

In [ ]:
# LOCATE - Looking for an element on a set
if 3 in s1:
    print('has the number 3')
else:
    print('there is no number 3')

In [ ]:
# ADDING elements
s4 = {1, 2, 3}
s4.add(4)
s4.add(4)  # Duplicity does not shows error
print(s4)

In [ ]:
# COPY
# Deep Copy
newset = s4.copy()
print(newset)

newset.add(8)
print(newset)
print(s4)

# Shallow Copy
newset2 = newset

newset2.add(300)
print(newset2)
print(newset)

In [ ]:
# REMOVE specific elements
s5 = {1, 2, 3}
print(s5)

# Option 1
s5.remove(3)  # if there is no mach it does not shows error
print(s5)

# Option 2
s5.discard(2)
print(s5)

# REMOVE all elements
print(s5)
s5.clear()
print(s5)

In [ ]:
# OPERATIONS with sets
# sum*, Maximum value*, minimum value*, lenght
# * If all elements of the set are numbers

s8 = {1, 2, 3, 4, 5, 6}

print(sum(s8))
print(max(s8))
print(min(s8))
print(len(s8))

In [ ]:
# ITERATING with sets
for valor in s8:
    print(valor)

In [ ]:
students_python = {'Marcos', 'Patricia', 'Ellen', 'Pedro', 'Julia', 'Guilherme'}
students_R = {'Fernando', 'Gustavo', 'Julia', 'Ana', 'Patricia'}

# UNION - returns a set that contains all items from the original set, and all items from the specified sets.

#Option1
unique = students_python.union(students_R)
print(unique)

#Option2
unique2 = students_python | students_R
print(unique2)

In [ ]:
#INTERSECTION - Returns a set, that is the intersection of two other sets

# Option 1 
both = students_python.intersection(students_R)
print(both)

# Option 2 
both2 = students_python & students_R
print(both2)

In [ ]:
#DIFFERENCE - 	Returns a set containing the difference between two or more sets

only_study_python = students_python.difference(students_R)
print(only_study_python)

only_study_R = students_R.difference(students_python)
print(only_study_R)

### G) Boolean

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

In Python, True represents the value as 1 and False as 0. 

When you compare two values, the expression is evaluated and Python returns the Boolean answer

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [ ]:
#STATEMENT
active = True
print(active)

In [ ]:
#DENIAL
print(not active)

In [ ]:
#LOGICAL OPERATORS

#OR - at least one must be True to be considered True

"""
True or True -> True
True or False -> True
False or True -> True
False or False -> False
"""

#AND - Both must be True to be considered True

"""
True and True -> True
True and False -> False
False and True -> False
False and False -> False
"""

In [ ]:
#ITERATE using boleans
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
# FALSE values

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

In [ ]:
# TRUE values
"""
Almost any value is evaluated to True if it has some sort of content.
Any string is True, except empty strings.
Any number is True, except 0.
Any list, tuple, set, and dictionary are True, except empty ones.
"""

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

##CONDITIONALS

### A) LOGICAL OPERATORS

*   Equals: a == b
*   Not Equals: a != b
*   Less than: a < b
*   Less than or equal to: a <= b
*   Greater than: a > b
*   Greater than or equal to: a >= b

In [ ]:
# OR
# is used to combine conditional statements

a = 5
b = 7
c = 1
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
# AND
# is used to combine conditional statements:

a = 50
b = 70
c = 10
if b > a and a > c:
  print("Both conditions are True")

###B) IF

Sintax
```
if test expression:
    statement(s)
```
Here, the program will execute statement(s) **only if the test expression is True.** 

If the test expression is False, the statement(s) is not executed.

In [ ]:
# Printing msgs
num = 3
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:
    print(num, "is a positive number.")
print("This is also always printed.")

In the above example, num > 0 is the test expression.

The body of if is executed only if this evaluates to True.

When the variable num is equal to 3, test expression is true and statements inside the body of if are executed.

If the variable num is equal to -1, test expression is false and statements inside the body of if are skipped.

The print() statement falls outside of the if block (unindented). Hence, it is executed regardless of the test expression.

In [ ]:
# camparing 2 numbers 
a = 10
b = 20
if b > a:
  print("b is greater than a")

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

###C) ELIF

The elif is the way of saying "if the previous conditions were not true, then try this condition".

The elif is short for else if. It allows us to check for multiple expressions.

In [ ]:
a = 10
b = 10
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif a > b:
  print("a is greater than b")

###D) IF ... ELSE

Sintax
```
if test expression:
    Body of if
else:
    Body of else
```
The if..else statement evaluates test expression and will execute the body of if only when the test condition is True.

If the condition is False, the body of else is executed. Indentation is used to separate the blocks.

In [ ]:
# Program checks if the number is positive or negative
# And displays an appropriate message

num = 3

if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

In [ ]:
num = 0

if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

In [ ]:
num = -5

if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

In [ ]:
# Nested IF

num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

###E) IF ... ELIF ... ELSE

Sintax
```
if test expression:
    Body of if
elif test expression:
    Body of elif
else: 
    Body of else
```
If the condition for if is False, it checks the condition of the next elif block and so on.

If all the conditions are False, the body of else is executed.

Only one block among the several if...elif...else blocks is executed according to the condition.

In [ ]:
num = 340

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

In [ ]:
num = 0

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

In [ ]:
num = -5

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

In [ ]:
age= 20

if age < 18:
    print('underage player')
elif age >= 18 and age <= 21 :
    print(f'the player has exactly {age} y.o')
else:
    print('the player is of legal age')

##REPETITION STRUCTURES - LOOPS

###A) FOR
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).


This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

####Sintax

```
for val in sequence:
	Body of for
```
val-->is the variable that takes the value of the item inside the sequence on each iteration.

sequence --> loop continues until we reach the last item in the sequence. 

Body --> the body of for loop is separated from the rest of the code using indentation.

In [ ]:
# List of integer numbers
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = 0

# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq = val * val
    # displaying the squares
    print(sq)

In [ ]:
# String
name = 'Thiago Carvalho'

for letter in name:
    print(letter)

In [ ]:
# Dict (using the string as source)

name2 = 'Rio de Janeiro'

for index, letter in enumerate(name2):
    print(letter)

for _, letter in enumerate(name2): #removing index with _
    print(letter)

#### BREAK
With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

#### CONTINUE
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

#### RANGE
To loop through a set of code a specified number of times, we can use the range() function.

In [ ]:
# The range() function returns a sequence of numbers, starting from 0 by default, 
# and increments by 1 (by default), and ends at a specified number.

for x in range(6): #Note that is not the values of 0 to 6, but the values 0 to 5.
  print(x)

In [ ]:
for x in range(2, 6):
  print(x)

#### ELSE
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
for x in range(4):
  print(x)
else:
  print("The end of the road!")

#### NESTED LOOPS FOR
The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

###B) WHILE
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

#The while loop requires relevant variables to be ready, 
#in this example we need to define an indexing variable, i, which we set to 1.

In [ ]:
# With BREAK we can stop the loop even if the while condition is true:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
# With CONTINUE we can stop the current iteration, and continue with the next:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
#With ELSE we can run a block of code once when the condition no longer is true:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

##FUNCTIONS

A function is a block of code that performs a specific task when it is called.

You can pass data, known as parameters, into a function. A function can return data as a result.

Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and manageable.

####Sintax
```
def function_name(function_parameters):
  """docstring"""
	function_body # Set of Python statements
        return # optional return statement
```
* **def** marks the start of the function header.
* **function name** to uniquely identify the function.
* **docstring** optional description
* **Parameters** (arguments) through which we pass values to a function.
* **(:)** mark the end of the function header.
* **Function_body** One or more valid python statements that make up the function body. 
* **return** optional statement to return a value from the function.

In [ ]:
def greet(name):
    """
    This function greets to
    the person passed in as
    a parameter
    """
    print(f"Hello, {name}. Good morning!")

greet('World')

###A) Calling a Function

When function doesn't return anything
```
function_name(parameters)
```

In [ ]:
greet('World')

###B) Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

#####From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

In [ ]:
def my_function(XYZ):
  print(f'{XYZ} is something amazing')

my_function("Email")
my_function("Website")
my_function("Data lake")

###C) Number of Arguments

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def my_function(fname, lname):
  print(fname+" "+lname)

my_function("Thiago", "Carvalho")

###D) Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Older", "Middle", "Younger")

In [ ]:
def sum_all_numbers(name, email, *args):
    return sum(args)


print(sum_all_numbers('Thiago', 'Carvalho'))
print(sum_all_numbers('Thiago', 'Carvalho', 1))
print(sum_all_numbers('Thiago', 'Carvalho', 2, 3))
print(sum_all_numbers('Thiago', 'Carvalho', 2, 3, 4))
print(sum_all_numbers('Thiago', 'Carvalho', 3, 4, 5, 6))
print(sum_all_numbers('Thiago', 'Carvalho', 23.4, 12.5))

In [ ]:
def check_info(*args):
    if 'Thiago' in args and 'Carvalho' in args:
        return 'Welcome, Thiago!'
    return "I am not sure who you are..." 


print(check_info())
print(check_info(1, True, 'Carvalho', 'Thiago'))
print(check_info(1, 'Carvalho', 3.145))

In [ ]:
def greet(*names):
    """This function greets all
    the person in the names tuple."""

    # names is a tuple with arguments
    for name in names:
        print("Welcome", name)


greet("Milton", "Thiago", "Priscila", "Bruno")

In [ ]:
def world_cup_titles(country, *args):
    print(f'Country: {country}')
    for title in args:
        print(f'year: {title}')


world_cup_titles('Brazil', '1958', '1962', '1970', '1994', '2002')
world_cup_titles('Spain', '2010')

###D) Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
def my_function(**xyz):
  print("His last name is " + xyz["lname"])

my_function(fname = "Thiago", age= 39, location="Brazil", lname = "Carvalho")

In [ ]:
def favourite_colors(**kwargs):
    for person, color in kwargs.items():
        print(f"{person.title()}'s favourite color is {color}")


favourite_colors(Milton='blue', pricila='orange', BRUNO='grey', Elis ='white')

In [ ]:
def sum_multiple_numbers(a, b, c, **kwargs):
    print(a + b + c)


listA = [1, 2, 3]
tupleA = (1, 2, 3)
setA = {1, 2, 3}


sum_multiple_numbers(*listA)
sum_multiple_numbers(*tupleA)
sum_multiple_numbers(*setA)

dictA = dict(a=1, b=2, c=3)
sum_multiple_numbers(**dictA)

In [ ]:
def calculate_price(value, **any): #any is the kwargs... we can name it as we want as long we put ** before it
    tax_percentage = any.get('tax_percentage')
    discount = any.get('discount')
    if tax_percentage:
        value += value * (tax_percentage / 100)
    if discount:
        value -= discount
    return value


final_price = calculate_price(100.0) # final price without taxes nor discount
print(final_price)

final_price = calculate_price(100.0, tax_percentage=7) # final price with taxes and no discount
print(final_price)

final_price = calculate_price(100.0, tax_percentage=7, discount=5.0) # final price with taxes and discount
print(final_price)

##HANDLING FILES

### Opening Modes

The key function for working with files in Python is the open() function.

The open() function takes two parameters **filename**, and **mode**.

* MODES for opening a file:

```
"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

"+" - Opens a file for updating (reading and writing)
```

* In addition you can specify if the file should be handled as binary or text mode

```
"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)
```

####Syntax
To open a file for reading it is enough to specify the name of the file:
```
f = open("demofile.txt")
```
The code above is the same as:
```
f = open("demofile.txt", "rt")
```
Because "r" for read, and "t" for text are the default values, you do not need to specify them.

###A) Reading a file

In [ ]:
f = open("/File.txt", "r")
print(f.read())

In [ ]:
#Return the 5 first characters of the file:
f = open("/File.txt", "r")
print(f.read(5))

In [ ]:
#You can return one line by using the readline():
f = open("/File.txt", "r")
print(f.readline())
print(f.readline())

In [ ]:
#By looping through the lines of the file, you can read the whole file, line by line:
f = open("/File.txt", "r")
for x in f:
  print(x)

###B) Closing a file

In [ ]:
#It is a good practice to always close the file when you are done with it.
f = open("/File.txt", "r")
print(f.readline())
f.close()

###C) Writing, Creating and deleting files

####>>Appending

In [ ]:
f = open("/File.txt", "a")
f.write("Appending: Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("/File.txt", "r")
print(f.read())

####>>Writing

The "w" method will overwrite the entire file.

In [ ]:
f = open("/File.txt", "w")
f.write("Ops! I have deleted the content!")
f.close()

#open and read the file after the overwriting:
f = open("/File.txt", "r")
print(f.read())

In [ ]:
#rewriting the original txt 
f = open("/File.txt", "w")
f.write(
"""
    I am learning essential programming in Python
    This is helping me to become an expert in Python.
    Right now, I am learning how to work with files!
    """)
f.close()

#open and read the file after the appending:
f = open("/File.txt", "r")
print(f.read())

####>>Creating a new file

In [ ]:
#Create a file called "myfile.txt":

f = open("/myfile.txt", "x")

####>>Deleting a file

In [ ]:
#
import os
if os.path.exists("/myfile.txt"):
  print("The file exists")
else:
  print("The file does not exist") #if it doesn't exist run the previous step

In [ ]:
#Remove the file "myfile.txt":

import os
os.remove("/myfile.txt")

###D) seek and tell

We can change our current file cursor (position) using the seek() method. Similarly, the tell() method returns our current position (in number of bytes).

In [ ]:
f = open("/File.txt", "r")
f.tell()    # get the current file position

In [ ]:
f.seek(10)   # bring file cursor to  position 10

#Sources:
##### Geek University - Udemy Course - Programação em Python Essencial

##### Programiz.com

##### w3schools.com

##### Python Crash Course - part 1

##### medium.com/rafaeltardivo